$lightestgray: rgba(0,0,0,.03);
$white: #ffffff;
$green: #43c497;
$blue: #3a75af;
$hoverBlue: #4b82b9;
$darkblue: #34404c;
$black: #222222;
$siteBackground: $lightestgray;
$contentBackground: #ebe9e3;
$gold: #d5ad4b;
